{% if settings.show_multiple_currencies %}
<div class="switcher">
  <span class="selected-currency">
    {{ shop.currency }}
  </span>
  {% include 'icon-chevron-down' %}
  <select name="currencies" aria-label="{{ 'general.multi_currency.pick_a_currency' | t | escape }}">
    {% assign codes = 'AED,ALL,AMD,ANG,AOA,ARS,AUD,AWG,AZN,BAM,BBD,BDT,BGN,BHD,BND,BOB,BRL,BSD,BTN,BWP,BYR,BZD,CAD,CHF,CLP,CNY,COP,CRC,CZK,DKK,DOP,DZD,EGP,ETB,EUR,FJD,GBP,GEL,GHS,GMD,GTQ,GYD,HKD,HNL,HRK,HUF,IDR,ILS,INR,ISK,JEP,JMD,JOD,JPY,KES,KGS,KHR,KRW,KWD,KYD,KZT,LBP,LKR,LTL,LVL,MAD,MDL,MGA,MKD,MMK,MNT,MOP,MUR,MVR,MXN,MYR,MZN,NAD,NGN,NIO,NOK,NPR,NZD,OMR,PEN,PGK,PHP,PKR,PLN,PYG,QAR,RON,RSD,RUB,RWF,SAR,SCR,SEK,SGD,STD,SYP,THB,TND,TRY,TTD,TWD,TZS,UAH,UGX,USD,UYU,VEF,VND,VUV,WST,XAF,XBT,XCD,XOF,XPF,ZAR,ZMW' | split: ',' %}
    {% assign supported_codes = settings.supported_currencies | split: ' ' %}
    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
    {% for code in supported_codes %}
    {% if code != shop.currency and codes contains code %}
    <option value="{{ code }}">{{ code }}</option>
    {% endif %}
    {% endfor %}
  </select>
</div>
{% endif %}