{%- unless settings.prod_block_label_loc == 'hide' -%}

  {%- if show_sold_out -%}
    <span class="productlabel soldout"><span>{{ 'products.labels.sold_out' | t }}</span></span>
  {%- endif -%}

  {%- if show_sold_out == blank and product.available == false -%}
    <span class="productlabel soldout"><span>{{ 'products.labels.sold_out' | t }}</span></span>
  {%- else -%}
    {%- assign inv_mngmt_size = product.variants.first.inventory_management | size -%}
    {%- assign limit_as_int = settings.prod_stock_warn_limit_int | plus: 0 -%}
    {%- if settings.prod_sale_show and product.compare_at_price > product.price -%}
      <span class="productlabel sale"><span>{{ 'products.labels.sale' | t }}</span></span>
    {%- elsif settings.prod_stock_warn_show and product.variants.size == 1 and inv_mngmt_size > 0 and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_quantity <= limit_as_int -%}
      <span class="productlabel general"><span>{{ 'products.labels.only_x_left' | t: quantity: product.variants.first.inventory_quantity }}</span></span>
    {%- else -%}
      {%- for tag in product.tags -%}
        {%- if tag contains 'meta-label-' -%}
          <span class="productlabel general"><span>{{ tag | remove: 'meta-label-' }}</span></span>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}

{%- endunless -%}
