{%- if aspect_ratio -%}
{%- assign cover = true -%}
{%- assign local_aspect_ratio = aspect_ratio -%}
{%- else -%}
{%- assign cover = false -%}
{%- assign local_aspect_ratio = image.aspect_ratio -%}
{%- endif -%}

{%- if max_height -%}
  {%- assign max_width = max_height | times: image.aspect_ratio | at_most: image.width | round -%}
{%- else -%}
  {%- assign max_width = image.width -%}
{%- endif -%}

<div class="rimage-outer-wrapper" {% unless cover or no_max_width %}style="max-width: {{ max_width }}px"{% endunless %}>
  <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: local_aspect_ratio | times: 100 }}%">
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="rimage__image lazyload{% if manual_image_load %}--manual{% endif %} fade-in {% if cover %}cover{% endif %}"
      data-src="{{ img_url }}"
      data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ image.alt | escape }}"
      {% if cover %}data-parent-fit="cover"{% endif %}>

    <noscript>
      {%- assign img_url = image | img_url: '1024x1024' -%}
      <img class="rimage__image" src="{{ img_url }}" alt="{{ image.alt | escape }}">
    </noscript>
  </div>
</div>
{%- assign max_height = false -%}
