<div class="signup-form-cont">
  <div class="signup-form">
    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <div class="signup-form__response">
          <h4>{{ 'layout.signup.post_success' | t }}</h4>
        </div>
      {% else %}
        <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
        <span class="input-block">
          <input type="email" placeholder="{{ 'layout.signup.email' | t }}" class="required" value="" name="contact[email]" aria-label="{{ 'layout.signup.label' | t | escape }}" /><button class="button compact" type="submit" aria-label="{{ 'layout.signup.submit' | t | escape }}"><span class="button__icon">{% include 'svg-chevron-right' %}</span></button>
        </span>
        {% if form.errors %}
          <div class="signup-form__response">
            {% for field in form.errors %}
              <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    {% endform %}
  </div>
</div>
