  <div class="container strongly-spaced-row layout-content-with-image-{{ section.settings.layout }} layout-content-with-image-mobile-{{ section.settings.layout_mobile }} layout-content-with-image--large-image valign-middle cf" data-section-type="collage-with-text">
  {%- capture image_html -%}
    <div class="image-cont micro-collage micro-collage--style-{{ section.settings.style }}">
      {% if section.settings.cta_url != blank %}
      <a href="{{ section.settings.cta_url }}" class="micro-collage__image-1-frame lazyload--placeholder" {% if section.settings.image_1.alt != blank %}aria-label="{{ section.settings.image_1.alt | escape }}"{% endif %}>
      {% else %}
      <div class="micro-collage__image-1-frame lazyload--placeholder">
      {% endif %}

        {% if section.settings.image_1 == blank %}
        <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {% else %}
          <div class="micro-collage__image fade-in lazyload"
            data-bgset="{% include 'bgset', image: section.settings.image_1 %}"
            data-sizes="auto"
            data-parent-fit="cover"></div>
        {% endif %}

      {% if section.settings.cta_url == blank %}
      </div>
      {% else %}
      </a>
      {% endif %}

      <div class="micro-collage__image-2-frame lazyload--placeholder">
        {% if section.settings.image_2 == blank %}
        <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {% else %}
          <div class="micro-collage__image fade-in lazyload"
            data-bgset="{% include 'bgset', image: section.settings.image_2 %}"
            data-sizes="auto"
            data-parent-fit="cover"></div>
        {% endif %}
      </div>
    </div>
  {%- endcapture -%}

  {% if section.settings.layout == 'left' %}{{ image_html }}{% endif %}<div class="content">

  {% if section.settings.title != blank %}
  <h1 class="majortitle in-content">{{ section.settings.title | escape }}</h1>
  {% endif %}

  <div class="user-content">{{ section.settings.text }}</div>

  {% if section.settings.cta_text != blank %}
  <div class="spaced-row-above">
    <a class="button altcolour" href="{{ section.settings.cta_url | default: '#' }}">{{ section.settings.cta_text | escape }}</a>
  </div>
  {% endif %}

  </div>{% if section.settings.layout == 'right' %}{{ image_html }}{% endif %}
</div>


{% schema %}
  {
    "name": "Collage with text",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Collage alignment - desktop",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "Collage position - mobile",
        "options": [
          {
            "value": "above",
            "label": "Above"
          },
          {
            "value": "below",
            "label": "Below"
          }
        ],
        "default": "above"
      },
      {
        "type": "select",
        "id": "style",
        "label": "Collage style",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "1"
      },
      {
        "type": "header",
        "content": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collage with text"
      },
	    {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair some text with a couple of images to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
	    {
        "type": "text",
        "id": "cta_text",
        "label": "Button text",
        "default": "Read more"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Collage with text",
        "category": "Image",
        "settings": {}
      }
    ]
  }
{% endschema %}
