{% assign show_ads = false %}

{% if section.blocks.size > 0 %}
{% if section.settings.visibility != '' %}
{% if section.settings.visibility == 'all' %}{% assign show_ads = true %}
{% elsif section.settings.visibility == 'nothome' and template != 'index' %}{% assign show_ads = true %}
{% endif %}
{% endif %}
{% endif %}

{% if show_ads %}
{% if section.blocks.size == 4 %}
{% assign column_width = 'quarter' %}
{% elsif section.blocks.size == 3 %}
{% assign column_width = 'third' %}
{% elsif section.blocks.size == 2 %}
{% assign column_width = 'half' %}
{% else %}
{% assign column_width = 'full' %}
{% endif %}
<div class="cross-page-promos">
  <div class="container cf">
    <div class="flexible-layout {% if column_width == 'quarter' %}layout-all-quarters{% endif %}">

      {% for block in section.blocks %}
      <div class="column-{{ column_width }} {% if block.type == 'image' %}image-block slide no-stretch{% endif %} align-center block-id-{{ block.id }}" {{ block.shopify_attributes }}>
        {% if block.settings.link_url != blank %}
        <a href="{{ block.settings.link_url }}">
          {% endif %}

          {% if block.type == 'image' %}

          {% if block.settings.image == blank %}
            <div class="placeholder-image landscape {% if block.settings.text != blank %}dark{% endif %}">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
          {% else %}
            {% include 'responsive-image', image: block.settings.image %}
          {% endif %}

          {% if block.settings.text != blank %}
          <div class="overlay-text overlay-centre">
            <div class="inner">
              <div class="text">
                <div class="">
                  <div>{{ block.settings.text | escape }}</div>
                  {% if block.settings.subtext != blank %}<div class="second-line">{{ block.settings.subtext | escape }}</div>{% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% elsif block.type contains 'icon' %}

          <div class="icon-with-caption">
            <div class="icon-with-caption__icon">
              {% if block.type == 'icon' %}
                {% capture snippet_name %}icon-{{ block.settings.icon }}{% endcapture %}
                {% include snippet_name %}
              {% else %}
                <div class="icon-with-caption__image-{{ block.settings.image_size }}">
                  {% if block.settings.image == blank %}
                    <div class="placeholder-image landscape">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                  {% else %}
                    {% include 'responsive-image', image: block.settings.image %}
                  {% endif %}
                </div>
              {% endif %}
            </div>

            {% if block.settings.text != blank %}
            <h6 class="icon-with-caption__text align-center">{{ block.settings.text | escape }}</h6>
            {% endif %}
          </div>

          {% endif %}

          {% if block.settings.link_url != blank %}
        </a>
        {% endif %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<style type="text/css">
  {% for block in section.blocks %}
  {% if block.type == 'image' and block.settings.text != blank %}
  .cross-page-promos .block-id-{{ block.id }} .overlay-text .text > div {
    color: {{ block.settings.overlay_color }};
  }
  {% endif %}
  {% endfor %}
</style>


{% schema %}
  {
    "name": "Cross-page promos",
    "max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "visibility",
        "label": "Show on these pages",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "nothome",
            "label": "All except home page"
          },
          {
            "value": "",
            "label": "None"
          }
        ],
        "default": "all"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Caption"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Caption line 2"
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Caption color",
            "default": "#ffffff"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Image link"
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "star",
            "options": [
              {
                "value": "chat",
                "label": "Chat"
              },
              {
                "value": "delivery",
                "label": "Delivery"
              },
              {
                "value": "email",
                "label": "Email"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "label",
                "label": "Label"
              },
              {
                "value": "location",
                "label": "Location"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "people",
                "label": "People"
              },
              {
                "value": "question",
                "label": "Question"
              },
              {
                "value": "smile",
                "label": "Smile"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "telephone",
                "label": "Telephone"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Icon link"
          }
        ]
      },
      {
        "type": "custom-icon",
        "name": "Custom icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_size",
            "label": "Image size",
            "default": "icon",
            "options": [
              {
                "label": "Icon",
                "value": "icon"
              },
              {
                "label": "Full",
                "value": "full"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Icon link"
          }
        ]
      }
    ]
  }
{% endschema %}
