{% assign blog = blogs[section.settings.blog] %}
{% capture chevron_right %}<span class="icon-small icon-natcol">{% include 'svg-chevron-right' %}</span>{% endcapture %}

<div class="container padded-row blog-row" data-section-type="featured-blog">
  {% unless blog.empty? %}

    <h1 class="hometitle h4-style align-center"><a href="{{ blog.url }}">{{ section.settings.title | escape }}</a></h1>

    {% if blog.articles.size == 0 %}

      <p class="align-center">{{ 'onboarding.blog.empty' | t }}</p>

    {% else %}
      {% if section.settings.crop_image %}
        {% assign aspect_ratio_split = section.settings.crop_style | split: '-' %}
        {% assign aspect_ratio = 1.0 | times: aspect_ratio_split[0] | divided_by: aspect_ratio_split[1] %}
      {% else %}
        {% assign aspect_ratio = false %}
      {% endif %}

      <div class="article-list article-layout--columns article-layout--one-row">
        {% for article in blog.articles limit: 3 %}
        <div class="article">
          <div class="article__inner">
            {% if article.image and section.settings.show_featured_image %}
              <div class="article-image">
                <a href="{{ article.url }}">
                  {% include 'responsive-image', image: article.image, aspect_ratio: aspect_ratio %}
                </a>
              </div>
            {% endif %}

            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

            <div class="user-content">
              {{ article.excerpt_or_content }}
            </div>

            <div class="meta">
              <span class="iconmeta time">
                {% if section.settings.show_date %}
                  {{ article.published_at | date: format: 'month_date_year' }}
                {% endif %}
                {% if section.settings.show_author %}
                  {% if section.settings.show_date %}&mdash;{% endif %}
                  <span class="author">{{ article.author }}</span>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

  {% else %}

    <h1 class="hometitle h4-style align-center">{{ section.settings.title | escape }}</h1>

    <div class="article-list article-layout--columns article-layout--one-row">
      {% for i in (1..3) %}
      <div class="article">
        <div class="article__inner">
          {% if section.settings.show_featured_image %}
          <div class="article-image">
            <div class="placeholder-image">{{ 'image' | placeholder_svg_tag }}</div>
          </div>
          {% endif %}

          <h3>{{ 'onboarding.article.title' | t }}</h3>

          <div class="user-content">
            {{ 'onboarding.article.excerpt' | t }}
          </div>

          <div class="meta">
            <span class="iconmeta time">
              {% if section.settings.show_date %}
                {{ 'now' | date: format: 'month_date_year' }}
              {% endif %}
              {% if section.settings.show_author %}
                {% if section.settings.show_date %}&mdash;{% endif %}
                <span class="author">{{ 'onboarding.article.author' | t }}</span>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  {% endunless %}
</div>


{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
	    {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "checkbox",
        "id": "show_featured_image",
        "label": "Show",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "crop_image",
        "label": "Crop",
        "default": true
      },
      {
        "type": "select",
        "id": "crop_style",
        "label": "Crop style",
        "options": [
          {
            "value": "1-1",
            "label": "Square"
          },
          {
            "value": "3-4",
            "label": "Portrait"
          },
          {
            "value": "16-9",
            "label": "Landscape"
          }
        ],
        "default": "16-9"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
