{% assign product = all_products[section.settings.product] %}

{% if product != blank and section.settings.show_all_images and product.images.size > 1 %}
<style>
{% for image in product.images %}
.section-{{ section.id }} .product-collage--focus .product-collage__image[data-image-index="{{ forloop.index0 }}"] {
  transform: translate3d(0, {% cycle '4', '8', '12' %}px, 0) rotate({% cycle '2', '-2', '4', '-4' %}deg);
}
{% endfor %}
</style>
{% endif %}
{% if settings.swatch_images %}
  <style>
   {%- for product_option in product.options_with_values -%}
      {%- if product_option.name == settings.swatch_option_name -%}
        {%- for value in product_option.values -%}
          {%- assign swatch_value = value | handle -%}
          .option--{{ settings.swatch_option_name | handle }} select[data-listed][data-colour-swatch="true"] + .clickyboxes .opt--{{ swatch_value }}::before,
          .swatch-option__nugget.bg-{{ swatch_value }} {
            background: #ddd url({{ swatch_value | append: '.png' | file_img_url: '48x48', crop: 'center' }}) center;
          }
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </style>
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

<div class="container section-{{ section.id }} featured-product product-detail {% if variant.compare_at_price > variant.price %}variant-status--on-sale{% endif %} strongly-spaced-row layout-content-with-image-{{ section.settings.layout }} layout-content-with-image--large-image valign-middle cf" data-section-type="featured-product">
  {%- capture image_html -%}
    <div class="gallery featured-product-images-column">
      <div class="product-collage {% if section.settings.show_image_border %}product-collage--show-borders{% endif %} {% if product != blank and section.settings.show_all_images and product.images.size > 1 %}product-collage--multiple-images{% endif %}">
        <div class="product-collage__inner">
          {% if product != blank %}
            {% if section.settings.show_all_images %}
              {% for image in product.images %}
                <div class="product-collage__image {% if forloop.first %}active{% endif %} lazyload--placeholder" data-image-index="{{ forloop.index0 }}" data-full-size-url="{{ image | img_url: 'master' }}">
                  {% include 'responsive-image', image: image %}
                </div>
              {% endfor %}
            {% else %}
              <div class="product-collage__image lazyload--placeholder" data-image-index="0">
                {% include 'responsive-image', image: product.featured_image %}
              </div>
            {% endif %}

          {% else %}
            <div class="product-collage__image active" data-image-index="0">
              <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            </div>
          {% endif %}
        </div>
        {% if product != blank and section.settings.show_all_images and product.images.size > 1 %}
        <a class="product-collage__prev" href="#" aria-label="{{ 'products.featured.next_image' | t }}"></a>
        <a class="product-collage__next" href="#" aria-label="{{ 'products.featured.previous_image' | t }}"></a>
        <span class="product-collage__cursor"></span>
        {% endif %}
      </div>
    </div>
  {%- endcapture -%}

  {% if section.settings.layout == 'left' %}{{ image_html }}{% endif %}

  <div class="detail featured-product-content-column">

  {% if product != blank %}
    <div class="content-divider">
      <div class="title-row">
        <h1 class="title in-content">{{ product.title | link_to: product.url }}</h1>
        {% include 'product-label' with product, show_sold_out: true %}
      </div>

      <div class="price-container">
        <h2 class="h4-style price-area">
          <span class="price theme-money">{{ variant.price | money }}</span>
          {% if variant.compare_at_price > variant.price %}
          <span class="was-price theme-money">{{ variant.compare_at_price | money }}</span>
          {% endif %}
        </h2>
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {% if settings.prod_show_vendor or settings.prod_show_sku %}
        <div class="lightly-spaced-row">
          {%- if settings.prod_show_vendor -%}
            {%- comment -%}
            Do we have a collection that has the same name as our product vendor name?
            If we do, let's have the vendor link point to it.
            If not, we will point to the automatic vendor collection.
            {%- endcomment -%}
            {%- assign product_vendor_handle = product.vendor | handle -%}
            {%- if collections[product_vendor_handle].handle == product_vendor_handle -%}
              {%- assign vendor_url = collections[product_vendor_handle].url -%}
            {%- else -%}
              {%- assign vendor_url = product.vendor | url_for_vendor -%}
            {%- endif -%}
            <div class="vendor"><span class="product-detail-label">{{ 'products.product.vendor' | t }}</span> {{ product.vendor | link_to: vendor_url }}</div>
          {%- endif -%}

          {%- if settings.prod_show_sku -%}
            <div class="sku {% if product.selected_or_first_available_variant.sku == blank %}sku--no-sku{% endif %}"><span class="product-detail-label">{{ 'products.product.sku' | t }}</span> <span class="sku__value">{{ product.selected_or_first_available_variant.sku }}</span></div>
          {%- endif -%}
        </div>
      {% endif %}

      <div class="user-content">{{ section.settings.text }}</div>
    </div>


    <div class="product-form section">
      {% if product.available %}
      {% form 'product', product, class: 'form', data-product-id: product.id, data-product-handle: product.handle %}
        <div class="input-row">
          {% if product.variants.size > 1 %}

            <div class="option-selectors">
              {% for option in product.options_with_values %}
                <div class="selector-wrapper styled-select {% if settings.swatch_enabled and option.name == settings.swatch_option_name %} swatches option--{{ settings.swatch_option_name | handle }}{% endif %}" {% if settings.variant_style == 'listed' %}data-make-box{% endif %}>
                  <label for="{{ section.id }}-SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select
                    id="{{ section.id }}-SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}"
                    {% if settings.variant_style == 'listed' %}data-listed{% endif %}
                    {% if settings.swatch_enabled and option.name == settings.swatch_option_name %}data-colour-swatch="true"{% endif %}>
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                  {% if settings.show_size_chart and option.name == settings.size_chart_variant %}
                    <div class="size-chart-container">
                      <a href="{{ pages[settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                        {{ 'products.product.size_chart' | t }}
                      </a>
                      <div class="size-chart-content hidden">
                        <div class="size-chart">
                          <div class="size-chart__inner user-content">
                            {{ pages[settings.size_chart_page].content }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

            <select name="id" class="original-selector" aria-label="{{ 'products.product.selector_label' | t | escape }}">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
              {% endfor %}
            </select>


          {% else %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />

            {% unless product.has_only_default_variant %}
              <div class="singleopt">
                {% for option in product.options %}
                  {% assign opt_idx = 'option' | append: forloop.index %}
                  <label>{{ option }}: {{ product.variants.first[opt_idx] }}</label>

                  {% if settings.show_size_chart and option == settings.size_chart_variant %}
                    <div class="size-chart-container">
                      <a href="{{ pages[settings.size_chart_page].url }}" target="_blank" class="size-chart-link">
                        {{ 'products.product.size_chart' | t }}
                      </a>
                      <div class="size-chart-content hidden">
                        <div class="size-chart">
                          <div class="size-chart__inner user-content">
                            {{ pages[settings.size_chart_page].content }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endunless %}

          {% endif %}
        </div>
        <div class="quantity-submit-row  input-row {% if section.settings.enable_payment_button %}has-spb{% endif %}">
          {% if settings.show_quantity_selector %}
            <label for="quantity">
              {{- 'products.product.quantity' | t -}}
            </label>
            <div class="quantity-wrapper">
              <a href="#" data-quantity="down">{% include 'svg-minus' %}</a>
              <input aria-label="{{ 'products.product.quantity' | t }}" id="quantity" name="quantity" value="1" />
              <a href="#" data-quantity="up">{% include 'svg-plus' %}</a>
            </div>
          {% endif %}
          <div class="quantity-submit-row__submit input-row">
            <input class="button button--large" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          </div>
          {% if section.settings.enable_payment_button %}
            {{ form | payment_button }}
          {% endif %}
        </div>

        {% capture backorder_message %}{{ 'products.product.backorder' | t }}{% endcapture %}
        {% unless backorder_message == blank %}
          {% if product.variants.size == 1 %}
            {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity < 1 %}
              <div class="backorder">
                <span class="selected-variant">{{ product.title }}</span> {{ backorder_message }}
              </div>
            {% endif %}
          {% else %}
            <div class="backorder hidden">
              <span class="selected-variant"></span> {{ backorder_message }}
            </div>
          {% endif %}
        {% endunless %}
      {% endform %}

      {% else %}

        <div class="product-unavailable">{{ 'products.product.product_unavailable' | t }}</div>

      {% endif %}
    </div>

  {% else %}
    <h1 class="title in-content">{{ 'onboarding.product.product_title' | t }}</h1>
    <h2 class="h4-style price-area on-sale">
      <span class="current-price">{{ 1999 | money }}</span>
      <span class="was-price">{{ 2999 | money }}</span>
    </h2>
    <div class="user-content">{{ section.settings.text }}</div>
    <div class="product-form">
      <div class="quantity-submit-row  input-row {% if section.settings.enable_payment_button %}has-spb{% endif %}">
        {% if settings.show_quantity_selector %}
          <label for="quantity">
            {{ 'products.product.quantity' | t }}
          </label>
          <div class="quantity-wrapper">
            <a href="#" data-quantity="down">{% include 'svg-minus' %}</a>
            <input aria-label="{{ 'products.product.quantity' | t }}" id="quantity" name="quantity" value="1" />
            <a href="#" data-quantity="up">{% include 'svg-plus' %}</a>
          </div>
        {% endif %}
        <div class="quantity-submit-row__submit input-row">
          <input class="button button--large" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
        </div>
      </div>
    </div>
  {% endif %}

  </div>{% if section.settings.layout == 'right' %}{{ image_html }}{% endif %}
</div>

{% if product != blank %}
<script type="application/json" id="ProductJson-{{ product.id }}">
  {{ product | json }}
</script>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "checkbox",
        "id": "show_all_images",
        "label": "Show multiple images",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_image_border",
        "label": "Show border when section is in focus",
        "default": true
      },
	    {
        "type": "richtext",
        "id": "text",
        "label": "Description",
        "default": "<p>Pair some text with a product to highlight features.</p>"
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
