<style>
  {%- assign background_alpha = section.settings.overlay_background_color | color_extract: 'alpha' -%}
  .collection-listing .product-block.collection-block .productlabel > span {
    color: {{ section.settings.overlay_text_color }};
    background-color: {% if background_alpha == 0 %}transparent{% else %}{{ section.settings.overlay_background_color | color_modify: 'alpha', 0.8 }}{% endif %};
  }

  .collection-listing .product-block.collection-block:hover .productlabel > span {
    background-color: {% if background_alpha == 0 %}transparent{% else %}{{ section.settings.overlay_background_color | color_modify: 'alpha', 0.9 }}{% endif %};
  }
</style>

<div data-section-type="page-list-collections-template">
  <div class="container">
    <div class="page-header cf">
      <h1 class="majortitle">
        {{ page.title }}
      </h1>

      {% if page.content != blank %}
      <div class="user-content lightly-spaced-row">
        {{ page.content }}
      </div>
      {% endif %}
    </div>
  </div>


  {% unless settings.use_fullwidth_layout %}<div class="container">{% endunless %}
  <div class="collection-listing overlay-mode-{{ section.settings.overlay_mode }}">
    <div class="product-list">
      {% for link in linklists[page.handle].links %}
        {% if link.type == 'collection_link' %}
          {% assign collection = link.object %}
          {% include 'collection-block' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% unless settings.use_fullwidth_layout %}</div>{% endunless %}
</div>


{% schema %}
  {
    "name": "Collection lists",
    "settings": [
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "select",
        "id": "overlay_mode",
        "label": "Overlay position",
        "info": "Shows collection name and product count",
        "default": "m",
        "options": [
          {
            "value": "none",
            "label": "Do not show"
          },
          {
            "value": "t",
            "label": "Top"
          },
          {
            "value": "m",
            "label": "Middle"
          },
          {
            "value": "b",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_count",
        "label": "Show product count",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "overlay_background_color",
        "label": "Background color",
        "default": "#232323"
      }
    ]
  }
{% endschema %}
