{% section 'article-template' %}


{% if blog.comments_enabled? %}
    {% paginate article.comments by 50 %}
        {% if article.comments != blank %}
        <div id="comments" class="container cf padded-row">
            <h4 class="align-centre">{{ 'blogs.comments.title' | t }}</h4>

            {% comment %} Show a comment that was *just* submitted {% endcomment %}
            {% if comment and comment.status != 'published' %}
                <div class="comment spaced-row">
                  <div class="gravatar">
                    <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?d=https:{{ 'gravatar_def.png' | asset_url | url_escape }}" alt="{{ comment.author }}" />
                  </div>
                  <div class="detail">
                    <p class="author">{{ 'blogs.comments.author_meta' | t: author: comment.author }}</p>
                    <div class="text">{{ comment.content }}</div>
                  </div>
                </div>
            {% endif %}

            {% comment %} Loop through approved comments: {% endcomment %}
            {% for comment in article.comments %}
                <div class="comment spaced-row {% if forloop.first %}first{% endif %}">
                  <div class="gravatar">
                    <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?d=https:{{ 'gravatar_def.png' | asset_url | url_escape }}" alt="{{ comment.author }}" />
                  </div>
                  <div class="detail">
                    <p class="author">{{ 'blogs.comments.author_meta' | t: author: comment.author }}</p>
                    <div class="text">{{ comment.content }}</div>
                  </div>
                </div>
            {% endfor %}
        </div> <!-- /#comments -->

        <div class="container pagination-row">{% include 'pagination-control' %}</div>
        {% endif %}
    {% endpaginate %}

    <div id="template" class="container cf form small-form">
        {% form article %}
        <h4 id="add-comment-title">{{ 'blogs.comments.form_title' | t }}</h4>

        {% if form.posted_successfully? %}
        <p>{{ 'blogs.comments.success' | t }}</p>
        {% endif %}

        {% if blog.moderated? %}
        <p>{{ 'blogs.comments.moderated' | t }}</p>
        {% endif %}

        {% if form.errors %}
            <ul class="errors">
            {% for field in form.errors %}
                <li>{{ field | capitalize }} {{ form.errors.messages[field] }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="input-row {% if form.errors contains 'author' %}has-error{% endif %}">
            <label for="comment_author">{{ 'blogs.comments.name' | t }}</label>
            <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" />
        </div>
        <div class="input-row {% if form.errors contains 'email' %}has-error{% endif %}">
            <label for="comment_email">{{ 'blogs.comments.email' | t }}</label>
            <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" />
        </div>
        <div class="input-row {% if form.errors contains 'body' %}has-error{% endif %}">
            <label for="comment_body">{{ 'blogs.comments.message' | t }}</label>
            <textarea id="comment_body" name="comment[body]" cols="40" rows="5">{{form.body}}</textarea>
        </div>

        <div class="action_bottom">
            <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="btn" />
        </div>

        {% endform %}
    </div> <!-- /.form -->
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>
